/* #f9fafc */
/* #69696a */
/* #000 */



body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal, 800;
  box-shadow: 2px;
}

a {
  text-decoration: none;
  padding-left: 20px;
  display: inline-block;
}

header {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 30px;
  /*position: absolute;  */
}

/* nav ul { */
  list-style: none;
  display: inline-block;

}

/* nav li { */
  padding: 20px;

}


.outer-box {
  background-color: #f9fafc;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 800px;


}

.topnav {
    text-align: left;
    position: absolute;
    top: 50px;
    right: 55px;
}

.button {
    background-color: black;
    border: none;
    border-radius: 100px;
    width: 90px;
    height: 30px;
    color: white;
    justify-content: center;
    font-size: 16px;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.paragraph {
  border-left: 4px solid black;
  padding-left: 20px;
  height: 100px;
  width: 500px;
  margin-left: 1%;
}

.paragraph-header{
  text-align: left;
  padding-top: 100px;
  padding-bottom: 10px;
  margin-left: 1%;
}

.circle-container {
  /* display: inline-block; */
  /* display: inline-grid; */
  margin-right: 200px;
  top: -280px;
  margin-bottom: 50px;
  clear: both;
  float: right;
  position: relative;

}


.one {
  background-color: rgba(247, 193, 162, 0.7);
  border: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  left: 90%;
  top: 250px;

}

.two {

  background-color: rgba(247, 136, 167, 0.6);
  border: none;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  float: right;
}

.three {
  background-color: rgba(207, 130, 213, 0.6);
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 93%;
  bottom: 200px;
}

.scroll-button {
    background-color: black;
    border: none;
    border-radius: 100px;
    display: flex;
    width: 130px;
    height: 45px;
    color: white;
    justify-content: center;
    font-size: 19px;
    margin: auto;
    clear: both;
    text-align: center;
}

@media only screen and (max-width: 760px){

  body {

    box-shadow: 2px;
    display: flex;
    flex-direction: column;
}

.flex-one {
  display: flex;
  flex-direction: column;

}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  right: 34%;
  top: 22%;
}

  .paragraph {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20%;
  }

  .paragraph-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .circle-container {
    display: none;
  }


  .button {
    display: flex;
    align-items: stretch;
    width: 100%;
    position: static;
  }

  .scroll-button {
    display: flex;
    align-items: stretch;
    width: 100%;
    position: static;
  }




}


/* left: 250px */

/* button {

} */
