/* #f9fafc */
/* #69696a */
/* #000 */





  @media only screen and (max-width: 760px){

    body {

      box-shadow: 2px;
      display: flex;
      flex-direction: column;
  }

  .flex-one {
    display: flex;
    flex-direction: column;

  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* right: 50%; */
    position: static;
    padding-top: 25px;
  }

    .paragraph {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20%;
    }

    .paragraph-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding-top: 0px;
    }


    .circle-container {
      display: none;
    }


    .button {
      display: flex;
      align-items: stretch;
      width: 100%;
      position: static;
    }

    .scroll-button {
      display: flex;
      align-items: stretch;
      width: 100%;
      position: static;
    }

    .scroll {
      float: none;
      position: static;
      margin-top: 30%;
    }




  }




/* logo {margin-bottom: 10px} */
/* button {display: flex;} */
/* posistion: static */
/* header flex-direction: column
align-items: stretch; */
/* left: 250px */

/* button {

} */
